/* Global styles */
body {
    font-family: "Amazon Ember", Arial, sans-serif;
    line-height: 1.6;
    margin: 50;
    padding: 0;
    background-color: #232f3e;
    color: #fff;
    text-align: center;
}

/* Header */
header {
    background-color: #1c252d;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: #fff;
}

/* Main content */
main {
    max-width: 800px;
    margin: 50px auto;
    background-color: #2b3949;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

ul, ol {
    padding-left: 0;
    list-style-position: inside;
}

/* Footer */
footer {
    background-color: #1c252d;
    text-align: center;
    padding: 20px;
}
  